
.table{
margin-left: 20%;
max-width: 80%;
}

.Add{
	margin-left: 93%;
	margin-top: -42%;
	padding: 5px;
}
.dashboard{
	margin-top: -40%;
	margin-left: 20%;
	max-width: 70%;
	}

	.continer{
		max-width: 30%;
		min-height: 80vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin-left: auto;
		margin-right: auto;
		}
		.logo{
		  margin-left: 25%;
		  width: 200px;
		  height: 200px;
		}